
.image-wrapper{
	text-align: center;
	height:100%;
	width:22.2%;
/*	background-image: url("Cameron_diaz_9L8VU.jpg");*/
	background-size: 100% 100%;
	background-repeat: no-repeat;

	margin-left: 10px;

}
.image1 img{
	position: absolute;
	display: inline-block;
	max-height: 100%;
	width:100%;
	padding-left: -50px;

}
.image-wrapper1{

	height:100%;
	width:22.2%;
/*	background-image: url("Cameron_diaz_6AHDQ.jpg");*/
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.image2 img{
	position: absolute;
	display: inline-block;
	max-height: 100%;
	width:100%;


}
.image-wrapper2{

	height:100%;
	width:22.2%;
	/*background-image: url("Cameron_diaz_9MCOA.jpg");*/
	background-size: 100% 100%;
	background-repeat: no-repeat;


}
.image3 img{
	position: absolute;
	display: inline-block;
	max-height: 100%;
	width:100%;


}

.page{
	position: relative;
	width: 75%;
	margin: 0 auto;
	padding: 1.5%;
	min-width: 0;
	text-align: center;
	background-color:dimgray;
}
body{
	background-image: url("download.jpg");
}

header{
	background-color: gold;
	border-bottom: 3px solid;
	height: auto;

	font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	font-size: 70px;

}
.images{
height: 45%;
position: relative;

}

.images img{
	position: absolute;

	height: 100%;
border: 5px solid gold;
	top:0px;
	width: 22%;


}

.content{
	margin:0px;
}
.content h1{
	background-color: gold;
	border-top: 3px solid;

}
details summary{
	outline: none;
}
.image-wrapper{

}
.quote q{
	transform: rotate(20deg);
}
.slide {
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}

.im1{
	position: relative;
}
.im2{
	position: absolute;
	left: 3px;
	top: 24px;
	background-color:red;
}
.im3{
	position: absolute;
	left: 153px;
	top: 24px;
}

.im4{
	position: absolute;
	left: 303px;
	top: 24px;
}

.im5{
	position: absolute;
	left: 453px;
	top: 24px;
}

.im6{
	position: absolute;
	left: 603px;
	top: 24px;
}
.fig1{
	position: absolute;
	top: 101px;

}
.fig2{
	position: absolute;
	top: 101px;
	left: 173px;
}
.fig3{
	position: absolute;
	top: 101px;
	left:350px;
}
.fig4{
	position: absolute;
	top: 101px;
	left:490px;
}
.fig5{
	position: absolute;
	top: 101px;
	left:615px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
footer{
	padding-top: 20px;
	border-top: 3px solid gold;
margin-top:100px;
}
button{
	width: 150px;
	height: 35px;


}
